@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  color: #ffff;
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

#brief {
  background-color: #ff7a00;
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("images/Background.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.brief h2 {
  margin-top: -800px;
  font-size: 5rem;
}

#data {
  background-color: #67ffe7;
}
#maps {
  background-color: #ffa855;
}
#dashboard {
  background-color: #00ffa7;
}

.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #414141;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.nav-link i {
  width: 70px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  transition: all 0.3s;
}

.nav-link .title {
  position: absolute;
  background-color: #414141;
  height: 100%;
  padding-right: 65px;
  padding-left: 20px;
  line-height: 70px;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.nav-item:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
}

.nav-item:hover .title {
  transform: translateX(0);
}
