<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rewards Program Analysis | Where is the Reward? - Brief</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- MDI -->
    <link rel="stylesheet" href="http://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar10">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="/">Intro</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link font-weight-bold" href="brief.html">Brief</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="data.html">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="maps.html">Maps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="dashboard.html">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div style= "background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 95%), url('../static/images/Background.jpg');
    height: 100vh; display: flex; background-size: cover; padding: 40px">
        <div class="container" style="color: #ffff; text-align: justify">
            <div class="row justify-content-md-center">
                <div class="col-xl-auto">
                    <h1>Where is the reward?</h1>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-xl" style="text-align: right; padding: 50px">
                    <h3>What Is a Rewards Program?</h3>
                </div>
            <div class="row">
                <div class="col-xl"style="text-align: left; padding: 10px">
                    Rewards programs are a great way to engage customers' attention. They work by offering prizes, discounts, and even cash to their most loyal buyers to retain them. The more often a client consumes a brand, the more benefits will be available.
                    For a Rewards Program to be successful in a company's strategy, theory says it shall return no more than 2% of its total income.                </div>
            </div>
            <div class="row">
                <div class="col-xl" style="text-align: left; padding: 25px">
                    The next project will consider a shock absorber brand's program. Its mechanics are simple.
                    Subscribed customers are categorized by their monthly level of purchase, and these 6 different categories will serve to establish a minimum level of sales to be reached. This will serve to obtain monthly points, but by the quarter's end, a couple of bonuses can also be gained. Ultimately category C6 can earn an additional bonus at the end of the year as well.
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            $('.navbar-nav .nav-item').click(function () {
                $('.navbar-nav .nav-item').removeClass('active');
                $(this).addClass('active');
            })
        });
    </script>

</body>

</html>
