<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rewards Program Analysis | Where is the Reward? - Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- MDI -->
    <link rel="stylesheet" href="http://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar10">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="brief.html">Brief</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="data.html">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="maps.html">Maps</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="dashboard.html">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6"><iframe width="550" height="400" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/1.embed"></iframe>
          </div>
          <div class="col-sm-12 col-md-6"><iframe width="550" height="400" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/3.embed"></iframe>
          </div>
          <div class="col-sm-12 col-md-4"><iframe width="375" height="325" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/12.embed"></iframe>
          </div>
          <div class="col-sm-12 col-md-4"><iframe width="375" height="325" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/7.embed"></iframe>
          </div> 
          <div class="col-sm-12 col-md-4"><iframe width="375" height="325" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/14.embed"></iframe>
          </div>
          <div class="col-sm-12 col-md-6"><center><iframe width="550" height="400" frameborder="0" scrolling="no" src="//plotly.com/~madrianofr182/16.embed"></iframe></center>
          </div>
          <div> <p class="p-2 bg-info text-white">*Categories Info: 6 Different Categories</p> 
                <p class="p-2 bg-info text-white"> - Each category provides a different ammount of Loyalty Points</p> 
                <p class="p-2 bg-info text-white"> - Points can be changed for attractive rewards</p> 
                <p class="p-2 bg-info text-white"> - Subscribed customers are categorized by their monthly level of purchase</p>
                <p class="p-2 bg-info text-white"> - Extra bonuses can also be gained if a quarter goal is met</p> 
                <p class="p-2 bg-info text-white"> - Category 6 can earn additional bonus at the end of the year </p></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.navbar-nav .nav-item').click(function () {
                $('.navbar-nav .nav-item').removeClass('active');
                $(this).addClass('active');
            })
        });
    </script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

</body>

</html>
